# params_assign4.yaml
sensor_simulator_node:
  ros__parameters:
    rate_hz: 100
    topic: "imu_sim_acceleration"
    intervals:
      0:
        axis: "linear_x"
        poly: "linear"
        t0: 0.0
        t1: 4.0
        y0: 1.0
        y1: 1.0
      1:
        axis: "linear_x"
        poly: "linear"
        t0: 4.0
        t1: 8.0
        y0: 0.0
        y1: 0.0
      2:
        axis: "linear_x"
        poly: "linear"
        t0: 8.0
        t1: 12.0
        y0: -1.0
        y1: -1.0
      3:
        axis: "linear_x"
        poly: "linear"
        t0: 12.0
        t1: 16.0
        y0: 0.0
        y1: 0.0
      4:
        axis: "linear_y"
        poly: "linear"
        t0: 0.0
        t1: 4.0
        y0: 1.0
        y1: 1.0
      5:
        axis: "linear_y"
        poly: "linear"
        t0: 4.0
        t1: 8.0
        y0: 1.0
        y1: 1.0
      6:
        axis: "linear_y"
        poly: "linear"
        t0: 8.0
        t1: 12.0
        y0: -1.0
        y1: -1.0
      7:
        axis: "linear_y"
        poly: "linear"
        t0: 12.0
        t1: 16.0
        y0: -1.0
        y1: -1.0

wheel_velocity_simulator_node:
  ros__parameters:
    rate_hz: 100
    topic: "mecanum_velocity"
    intervals:
      0:
        wheel: "wfl"
        poly: "constant"
        t0: 0.0
        t1: 4.0
        y0: 1.0
      1:
        wheel: "wfl"
        poly: "constant"
        t0: 4.0
        t1: 8.0
        y0: -1.0
      2:
        wheel: "wfl"
        poly: "constant"
        t0: 8.0
        t1: 12.0
        y0: -1.0
      3:
        wheel: "wfl"
        poly: "constant"
        t0: 12.0
        t1: 16.0
        y0: 1.0
      4:
        wheel: "wfr"
        poly: "constant"
        t0: 0.0
        t1: 4.0
        y0: 1.0
      5:
        wheel: "wfr"
        poly: "constant"
        t0: 4.0
        t1: 8.0
        y0: 1.0
      6:
        wheel: "wfr"
        poly: "constant"
        t0: 8.0
        t1: 12.0
        y0: -1.0
      7:
        wheel: "wfr"
        poly: "constant"
        t0: 12.0
        t1: 16.0
        y0: -1.0
      8:
        wheel: "wrl"
        poly: "constant"
        t0: 0.0
        t1: 4.0
        y0: 1.0
      9:
        wheel: "wrl"
        poly: "constant"
        t0: 4.0
        t1: 8.0
        y0: -1.0
      10:
        wheel: "wrl"
        poly: "constant"
        t0: 8.0
        t1: 12.0
        y0: -1.0
      11:
        wheel: "wrl"
        poly: "constant"
        t0: 12.0
        t1: 16.0
        y0: 1.0
      12:
        wheel: "wrr"
        poly: "constant"
        t0: 0.0
        t1: 4.0
        y0: 1.0
      13:
        wheel: "wrr"
        poly: "constant"
        t0: 4.0
        t1: 8.0
        y0: 1.0
      14:
        wheel: "wrr"
        poly: "constant"
        t0: 8.0
        t1: 12.0
        y0: -1.0
      15:
        wheel: "wrr"
        poly: "constant"
        t0: 12.0
        t1: 16.0
        y0: -1.0

position_approximator_mecanum_node:
  ros__parameters:
    wheel_radius: 0.05
    robot_length: 0.3
    robot_width: 0.2
    start_x: 0.0
    start_y: 0.0
    start_z: 0.0
    start_yaw: 0.0
    topic_sub: "mecanum_velocity"
    topic_pub: "mecanum_pos"